.prose.markdown-custom img {
  max-width: 50% !important;
  max-height: 400px !important;
  height: auto !important;
  display: block !important;
  margin: 0 auto !important;
  object-fit: contain;
}

.prose.markdown-custom,
.prose.markdown-custom :where(*) {
  color: #191919 !important;
}
.prose.markdown-custom :where(a) {
  text-decoration-color: currentColor;
}
